<div class="row justify-content-center align-items-center md-3" >
    <div class="col-md-4 text-center" >
        <h1>TODOS</h1>
        <p class="text-info">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
    </div>
</div>
<div class="row justify-content-center"  >
    <div class="form1 col-md-12">
        <form class="row g-2" action=""  >

            <div class="col-md-8 form-group" >
                <input type="text" placeholder="Add New Categories here" name="todoName" class="form-control drop-shadow">
            </div>

            <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block drop-shadow">Add</button>
        </form>
    </div>
</div>

<div class="row justify-content-center todo-list">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-start">
                        <i class="fa-regular fa-circle-check" style="color: #e52a2a;"></i>
                        <i class="fa-regular fa-circle-xmark" style="color: #511f24;"></i>
                        New Todo
                    </div>
                    <div class="float-end">
                        <i class="fa-regular fa-circle-check" style="color: #e52a2a;"></i>
                        <i class="fa-regular fa-circle-xmark" style="color: #511f24;"></i>

                        <div class="todo-tools">
                            <small><i class="fa-solid fa-pencil"></i></small>
                            <small><i class="fa-solid fa-trash"></i></small>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>
